/test/build
/yolov4-learn/yolo/yolov4.weights
/yolov4-learn/build
/darknet/build
/darknet-gpu/build
/ORB_SLAM3/Vocabulary/ORBvoc.txt
/ic.png
/qrgbd/build
/ORB_SLAM3/build
/ORB_SLAM3/Thirdparty/DBoW2/build
/ORB_SLAM3/Thirdparty/g2o/build
/build-Engine-Desktop_Qt_5_15_2_GCC_64bit-Debug
